* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div img {
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    max-width: 992px;
    width: 100%;
    margin: auto;
    min-width: 320px;
}

header {
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

.list-items li a {
    color: #fff;
}

header .list-items {
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    justify-content: space-between;
}

.apresentacao {
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-apresentacao {
    margin-left: 200px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: #122a57;
    width: 100%;
    margin-bottom: 30px;
}

.container-externo img {
    width: 150px;
}

#servicos {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
    margin-right: 360px;
}

.list-servicos .item-servicos {
    text-align: center;
    color: #fff;
}

.item-servicos a {
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #122a57;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
    color: #122a57;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

footer {
    background-color: #122a57;
    height: 70px;
    align-items: center;
    display: flex;
}

footer .footer {
    justify-content: space-between;
    color: #fff;
}

@media (max-width: 650px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .menu h1 {
        font-size: 30px;
        align-items: center;
        margin-left: 1rem;
    }

    .list-items {
        margin-top: 1rem;
        width: 100%;
        font-size: 16px;
        margin-left: 1rem;
        justify-content: space-between;
    }

    .apresentacao {
        width: 100%;
        margin-top: 4rem;
        height: 30vh;
    }

    .apresentacao h1 {
        margin-left: 1rem;
        font-size: 32px;
    }

    .apresentacao p {
        margin-left: 1rem;
        font-size: 20px;
    }

    .apresentacao .btn {
        border-radius: 10px;
        margin-left: 1rem;
        width: 8rem;
        height: 3rem;
    }

    .img-apresentacao {
        margin-left: 5px;
    }

    .apresentacao img {
        justify-content: flex-start;
        align-items: center;
        width: 23rem;
        margin-top: 5px;
    }

    #quem-somos {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    #quem-somos h2 {
        font-size: 30px;
    }

    #quem-somos p {
        font-size: 20px;
    }

    #servicos {
        margin-left: 1rem;
        font-size: 30px;
    }

    .container-externo .list-servicos {
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .item-servicos {
        align-items: center;
        justify-content: center;
    }

    #planos h2 {
        font-size: 30px;
        margin-left: 1rem;
    }

    .list-planos {
        flex-direction: column;
        margin-left: 12.5rem;
        margin-bottom: 2rem;
    }

    .item-plano {
       margin-top: 2rem;
    }

    footer {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer {
        align-items: center;
    }
}